.pt--call-to-action {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .field--name-field-cta-text + .field--name-field-link {
    margin-top: 15px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    text-align: left;

    .field--name-field-cta-text + .field--name-field-link {
      margin-top: 0;
      margin-left: 15px;
    }
  }
}