.pt--html-text-image {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  > .field {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
  }

  &.left {
    flex-direction: column-reverse;

    > .field--name-field-image {
      margin-bottom: 15px;
    }
  }

  &.right {
    > .field--name-field-text {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    > .field {
      flex-basis: 50%;
      max-width: 50%;
    }

    &.left {
      flex-direction: row-reverse;

      > .field--name-field-image {
        margin-bottom: 0;
      }
    }

    &.right {
      > .field--name-field-text {
        margin-bottom: 0;
      }
    }
  }
}
