.paragraph {
  margin-bottom: 30px;

  > .field {
    margin-bottom: 0;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .media > .field--type-image {
    float: none;
    margin: 0;

    img {
      margin: 0;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}