.pt--two-images {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  > .field {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
  }

  > .field--name-field-image-1 {
    .media {
      margin-bottom: 15px;
    }
  }

  > .field--name-field-image-1,
  > .field--name-field-image-2 {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    margin-left: -5px;
    margin-right: -5px;

    > .field {
      flex-basis: calc(50% - 10px);
      max-width: calc(50% - 10px);
      padding-left: 5px;
      padding-right: 5px;
    }

    > .field--name-field-image-1 {
      .media {
        margin-bottom: 0;
      }
    }
  }
}