.pt--download-bar {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.pt--download-bar .field--name-field-text + .field--name-field-file {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .pt--download-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .pt--download-bar .field--name-field-text + .field--name-field-file {
    margin-top: 0;
    margin-left: 15px;
  }
}

/*# sourceMappingURL=download-bar.css.map */
