.pt--html-text-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pt--html-text-image > .field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.pt--html-text-image.left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.pt--html-text-image.left > .field--name-field-image {
  margin-bottom: 15px;
}

.pt--html-text-image.right > .field--name-field-text {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .pt--html-text-image > .field {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .pt--html-text-image.left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .pt--html-text-image.left > .field--name-field-image {
    margin-bottom: 0;
  }
  .pt--html-text-image.right > .field--name-field-text {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=html-text-image.css.map */
