.paragraph {
  margin-bottom: 30px;
}

.paragraph > .field {
  margin-bottom: 0;
}

.paragraph > .field p:last-child {
  margin-bottom: 0;
}

.paragraph .media > .field--type-image {
  float: none;
  margin: 0;
}

.paragraph .media > .field--type-image img {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .paragraph {
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=paragraph.css.map */
