.pt--slideshow .field--name-field-media-image > picture {
  display: block;
  width: 100%;
}

.pt--slideshow .field--name-field-media-image > picture > img {
  max-width: none;
  width: 100%;
}

/*# sourceMappingURL=slideshow.css.map */
