.pt--three-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pt--three-images > .field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.pt--three-images > .field--name-field-image-1 .media,
.pt--three-images > .field--name-field-image-2 .media {
  margin-bottom: 15px;
}

.pt--three-images > .field--name-field-image-1,
.pt--three-images > .field--name-field-image-2,
.pt--three-images > .field--name-field-image-3 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .pt--three-images {
    margin-left: -5px;
    margin-right: -5px;
  }
  .pt--three-images > .field {
    -ms-flex-preferred-size: calc(33.3333% - 10px);
        flex-basis: calc(33.3333% - 10px);
    max-width: calc(33.3333% - 10px);
    padding-left: 5px;
    padding-right: 5px;
  }
  .pt--three-images > .field--name-field-image-1 .media,
  .pt--three-images > .field--name-field-image-2 .media {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=three-images.css.map */
