.pt--video .field--name-field-video {
  max-width: 480px;
  margin: 0 auto;
}

.pt--video .field--name-field-media-oembed-video {
  position: relative;
  padding-bottom: 70%;
  height: 0;
  overflow: hidden;
}

.pt--video .field--name-field-media-oembed-video > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*# sourceMappingURL=video.css.map */
