{#
/**
 * @file
 * Improved implementation to display an oEmbed resource in an iframe.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html>
<style type="text/css">
  html {
    background-color: #000;
  }
  .media-oembed-iframe-body { margin: 0; padding: 0; }
  .media-oembed-iframe-body .media-oembed-responsive-iframe {
    position: relative;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
  }
  .media-oembed-iframe-body .media-oembed-responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
</style>
<body class="media-oembed-iframe-body">
<div class="media-oembed-responsive-iframe">
  {{ media|raw }}
</div>
</body>
</html>
