{% extends "paragraph.html.twig" %}
{#
/**
 * @file
 * Derivative implementation of the default display of a paragraph.
 */
#}
{% block library %}
  {{ attach_library('tw_paragraphs_media/paragraph--slideshow-css') }}
  {% if slideshow_js_status %}
    {{ attach_library('tw_paragraphs_media/paragraph--slideshow-js') }}
  {% endif %}
{% endblock library %}

{% set slideshow_id = 'pg-slideshow-' ~ paragraph.id.value %}

{% block pg_content %}
  <div id="{{ slideshow_id }}" class="pg-slideshow">
    {{ content }}
  </div>
{% endblock pg_content %}
