{% extends "paragraph.html.twig" %}
{#
/**
 * @file
 * Derivative implementation of the default display of a paragraph.
 */
#}
{% block library %}
  {{ attach_library('tw_paragraphs_media/paragraph--html_text_image') }}
{% endblock library %}
